@media screen and (max-width: 767px) {
  .section {
    position: relative;
    height: 100%;
    margin-bottom: 10px;
    &_image {
      max-width: 767px;
      width: 100%;
      height: 200px;
      position: absolute;
      top: 0;
      object-fit: cover;
    }
    &_img {
      display: none;
    }
    &_img2 {
      display: initial;
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    &_content {
      width: 100%;
      max-width: 767px;
      height: auto;
      margin-top: 200px;
      margin-right: 0;
      padding: 0 20px;
      &_title {
        margin-top: 30px;
      }
    }
  }
  .form {
    margin: 20px auto;
    &_wrapper {
      width: 100%;
    }
    &_content {
      text-align: center;
      &_title {
        margin: 15px auto;
      }
      &-subtitle {
        margin: 20px 0;
      }
    }
  }
}
